In [1]:
import pandas as pd

In [2]:
INDIR = "/anvil/scratch/x-rwang22/GWAS"

# Bellenguez.NatGenet.2022.Alzheimers_Disease_Dementia.h.tsv

In [6]:
df = pd.read_csv(f'{INDIR}/Bellenguez.NatGenet.2022.Alzheimers_Disease_Dementia.h.tsv', sep = "\t")
select_cols = ["hm_rsid", "hm_other_allele", "hm_effect_allele", "hm_beta", "hm_effect_allele_frequency", "p_value", "n_cas", "n_con"]

In [7]:
filtered_df = df[select_cols].rename(columns = {"hm_rsid": "rsid", 
                                                "hm_other_allele": "other_allele", 
                                                "hm_effect_allele": "effect_allele", 
                                                "hm_beta": "beta", 
                                                "hm_effect_allele_frequency": "EAF"})
filtered_df.head()

,rsid,other_allele,effect_allele,beta,EAF,p_value,n_cas,n_con
0,rs888953847,C,T,-0.0152,0.0006,0.9626,20301,21839
1,rs1040232850,CTG,C,0.2494,0.0014,0.2670,26798,28624
2,rs1390538076,G,A,0.0975,0.0003,0.8214,20301,21839
3,rs1250812823,G,A,-0.3028,0.0013,0.3411,20301,21839
4,rs991450070,G,C,0.2938,0.0011,0.3542,20301,21839

In [8]:
filtered_df.to_csv(f'{INDIR}/Bellenguez.NatGenet.2022.Alzheimers_Disease_Dementia.formatted.tsv', sep = "\t", index = False)

# Mullins.NatGenet.2021.Bipolar_Disorder.tsv

In [19]:
df = pd.read_csv(f'{INDIR}/Mullins.NatGenet.2021.Bipolar_Disorder.tsv', skiprows = 72, sep = "\t").rename(columns = {"ID": "RSID", "NCAS" : "N_CASE", "NCON" : "N_CON"})
select_cols = ["RSID", "A1", "A2", "BETA", "N_CASE", "N_CON", "PVAL"]
filtered_df = df[select_cols]

In [21]:
filtered_df.head()

         RSID A1 A2      BETA  N_CASE   N_CON    PVAL
0  rs11009607  A  G  0.009396   41917  371549  0.4278
1  rs12217716  A  G  0.005704   41917  371549  0.5568
2   rs9417264  A  G  0.013202   41917  371549  0.3269
3   rs2008617  A  T  0.015401   40499  366928  0.5853
4   rs2799453  G  A -0.007800   41917  371549  0.4213

In [20]:
filtered_df.to_csv(f'{INDIR}/Mullins.NatGenet.2021.Bipolar_Disorder.formatted.tsv', sep = "\t", index = False)

# Wightman.NatGenet.2021.Alzheimers.txt

In [12]:
df = pd.read_csv(f'{INDIR}/Wightman.NatGenet.2021.Alzheimers.txt', sep = "\t").rename(columns = {" chr": "chr"})
df.head()

   chr  PosGRCh37 testedAllele otherAllele         z       p      N
0    1      13668            A           G -0.337420  0.7358  74004
1    1      14506            A           G -0.511216  0.6092  74004
2    1      14773            T           C  1.371240  0.1703  74004
3    1      14860            T           G -1.275874  0.2020  74004
4    1      17101            C           G -0.471057  0.6376  74004

In [13]:
# add rsids 
hg19_rsids = pd.read_csv('/anvil/scratch/x-rwang22/1000G/hg19/g1000_eur.bim', sep = "\t", header = None)
hg19_rsids.columns = ["chr", "rsid", "0", "PosGRCh37", "A1", "A2"]
hg19_rsids.head()

   chr         rsid  0  PosGRCh37 A1 A2
0    1  rs537182016  0      10539  A  C
1    1  rs575272151  0      11008  G  C
2    1  rs544419019  0      11012  G  C
3    1  rs540538026  0      13110  A  G
4    1   rs62635286  0      13116  G  T

In [14]:
filtered_df = pd.merge(df, hg19_rsids, on = ["chr", "PosGRCh37"]).rename(columns = {
    "testedAllele" : "effect_allele", 
    "otherAllele" : "other_allele"
})
select_cols = ["rsid", "effect_allele", "other_allele", "z", "p", "N"]
filtered_df = filtered_df[select_cols]
filtered_df.to_csv(f'{INDIR}/Wightman.NatGenet.2021.Alzheimers.formatted.tsv', sep = "\t", index = False)
filtered_df.head()

          rsid effect_allele other_allele         z       p      N
0  rs555296411             T            C  0.269688  0.7874  74004
1   rs62642118             G            C  0.186567  0.8520  74004
2  rs372054918             A            G -0.898723  0.3688  74004
3  rs528106901             T            C -0.646895  0.5177  74004
4  rs554762511             G            A -0.035476  0.9717  74004